* {
  box-sizing: border-box;

}
li{
  list-style: none;
}
.list-card{
  max-width: 32rem;
}

form{
  margin-left: 2rem;
}
.navHeader{
  font-family: 'Dancing Script', cursive;
  color: #009FB7;
}
.anchor{
  padding: 0 2rem;
}
.recipeImageList{
  height: 25rem;
  align-self: center;
}
.recipeImage{
  height: 25rem;
}
label{
  color: #009FB7;
}
.form-header{
  color: #009FB7;
  font-family: 'Old Standard TT', serif;
  font-weight: 700 bold;
}
button{
  background-color:  #009FB7;
  color: white;
}
.card{
  text-align: center;
  margin: 0 auto;

}
.card-title{
  font-family: 'Josefin Sans', sans-serif;
  color: #009FB7
}
.card-text{
  font-family: 'Truculenta', sans-serif;
}



.ingredientButton{
  margin-left: 15px;
}
.ingredientForm{
  margin-top: 15px;
  padding-left: 10px;
}
.amount{
  margin-left: 5px;
}
.name{
  margin-left: 20px;
}
a{
  text-decoration: none;
}

nav {
  background-color: lightgray;
}

.upload, .list{
  margin-left: 10px;
  font-family: 'Old Standard TT', serif;
  color: #009FB7;
  font-size: large;
}

.detail-text{
  font-family: 'Nanum Myeongjo', serif;
}
.detail-head{
  font-family:  'Pompiere', cursive, sans-serif;
  color: #009FB7;
}
.main-header{
  font-family: 'Josefin Sans', sans-serif;
  color: #009FB7;
}
@media (max-width: 375px){
  .form-row{
    margin-bottom: 8rem;
  }
  .detail-card{
    padding: 0 2rem;
    margin-bottom: 6rem;
  }
  .anchor {
    padding: 1rem 1rem;
  }
  .recipeImage{
    margin-top: .5rem;
  }


}

@media (min-width: 768px) {
  .detail-card{
    margin-bottom: 20rem;
  }
  .recipeList{
    margin-bottom: 18rem;
  }
  .form-row {
    margin-bottom: 24rem;
  }

}

@media (min-width: 1800px) and (orientation: landscape){
  .list-container{
    width: 30rem;

  }
  .list-card{
  max-width: 32rem;
}
  .recipeImageList{
    width: 25rem;
  }

}
