* {
  box-sizing: border-box;
}
.card{
  text-align: center;
}


/* .row{
  display: flex;

} */
.ingredientButton{
  margin-left: 15px;
}
.ingredientForm{
  margin-top: 15px;
  padding-left: 10px;
}
.amount, .name{
  margin-left: 5px;
}
a{
  text-decoration: none;
}

nav {
  background-color: lightgray;
}

.upload, .list{
  margin-left: 10px;
}
